html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

/* MY CUSTOM STYLES */

.flex {
	display: flex;
}

.debuggrey {
	background-color: grey;
}

.debugteal {
  background-color: teal;
}

.debugred {
	background-color: red;
}

.debugorgange {
	background-color: orange;
}

.bigcontainer {
	align-items: stretch;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	width: 100%;
}

.toppart {
	flex-grow: 0.7;
	display: flex;
	flex-direction: row;
}

.bottompart {
	flex-grow: 0.3;
}

.fullscreenvid {
	flex-grow: 0.7;
	display: flex;
	align-items: center;
	justify-content: center;
}

.infoside {
	flex-grow: 0.3;
}